<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/ico/favicon.png">

    <title>South Sudan Biodiversity Data</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="assets/css/main.css" rel="stylesheet">

    <link href="assets/css/font-awesome.min.css" rel="stylesheet">

    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    
    <script src="assets/js/modernizr.custom.js"></script>
    
  </head>

  <body ng-app="">

	<!-- Menu -->
	<nav class="menu" id="theMenu">
		<div class="menu-wrap">
			<h1 class="logo"><a href="index.html#home"></a></h1>
			<i class="fa fa-arrow-right menu-close"></i>
			<a href="index.html">Home</a>
			<a href="overview.html">Overview</a>
			<a href="methods.html">Methods</a>
			<a href="resources.html">Resources</a>
		</div>
		
		<!-- Menu button -->
		<div id="menuToggle"><i class="fa fa-bars"></i></div>
	</nav>
	
	<!-- MAIN IMAGE SECTION -->
	<div id="headerwrap">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<h1>south sudan</h1>
					<h3 style="color:#fff" >tropical forests and biological diversity assessment database</h3>
					<div class="spacer"></div>
					<i class="fa fa-angle-down"></i>
				</div>
			</div><!-- row -->
		</div><!-- /container -->
	</div><!-- /headerwrap -->

	<!-- BLOG POSTS -->
	<div class="container">
		<div class="row mt">
			<div class="col-lg-12">
				<h1>Documentation</h1>
			</div><!-- col-lg-12 -->
		</div><!-- row -->
		
		<div class="row mt">
			<div class="col-lg-4">
				<i class="fa fa-globe fa-5x"></i>
				<h3><a href="#">Overview</a></h3>
				<p>Context for this analysis of threats and opportunities for biodiversity and forests in South Sudan</p>
				<p><a href="overview.html"><i class="fa fa-link"></i> Read More</a></p>
			</div>
			<div class="col-lg-4">
				<i class="fa fa-gears fa-5x"></i>
				<h3><a href="#">Methods</a></h3>
				<p>Tools and tactics used to analyze these datasets</p>
				<p><a href="methods.html"><i class="fa fa-link"></i> Read More</a></p>
			</div>
			<div class="col-lg-4">
				<i class="fa fa-list fa-5x"></i>
				<h3><a href="#">Resources</a></h3>
				<p>A collection of existing datasets drawn from government, nonprofit and academic sources</p>
				<p><a href="resources.html"><i class="fa fa-link"></i> Read More</a></p>
			</div>		
		</div><!-- row -->
	</div><!-- container -->

	<!-- WELCOME SECTION -->
    <div class="container">
    	<div ng-init="dataz = [
			  {
			    'name':'Rivers',
			    'image':'maplayer.png',
			    'type':'geojson',
			    'subgiturl':'master/geodata/africover/africvr_sd_rivers.geojson',
			    'tags':'',
			    'source':'Africover'
			  },
			  {
			    'name':'Cities',
			    'image':'maplayer.png',
			    'type':'geojson',
			    'subgiturl':'master/geodata/africover/africvr_sd_towns_major.geojson',
			    'tags':'',
			    'source':'Africover'
			  },
			  {
			    'name':'Travel Time',
			    'image':'16-travel-time.jpg',
			    'type':'Map Image',
			    'subgiturl':'master/images/16-travel-time.jpg',
			    'tags':'',
			    'source':'EU Joint Research Center'
			  },
			  {
			    'name':'Towns',
			    'image':'maplayer.png',
			    'type':'geojson',
			    'subgiturl':'master/geodata/africover/africvr_sd_towns_other.geojson',
			    'tags':'',
			    'source':'Africover'
			  },
			  {
			    'name':'Surface Water',
			    'image':'maplayer.png',
			    'type':'geojson',
			    'subgiturl':'master/geodata/africover/africvr_surface_water.geojson',
			    'tags':'',
			    'source':'Africover'
			  },
			  {
			    'name':'Oil Concessions',
			    'image':'maplayer.png',
			    'type':'geojson',
			    'subgiturl':'master/geodata/ecos/oil_concessions_2007.geojson',
			    'tags':'',
			    'source':'ECOS'
			  },
			  {
			    'name':'Oil Pipelines',
			    'image':'maplayer.png',
			    'type':'geojson',
			    'subgiturl':'master/geodata/ecos/oil_pipelines_2007.geojson',
			    'tags':'',
			    'source':'ECOS'
			  },
			  {
			    'name':'Rangeland Loss 2003-2013',
			    'image':'maplayer.png',
			    'type':'geojson',
			    'subgiturl':'master/geodata/geosprocket/ssudan_rangeland_loss_2003-2013.geojson\n',
			    'tags':'',
			    'source':'Geosprocket'
			  },
			  {
			    'name':'Forest Cover Loss 2000-2012',
			    'image':'maplayer.png',
			    'type':'geojson',
			    'subgiturl':'master/geodata/hansen/ssudan_forest_loss_2000-2012.geojson',
			    'tags':'',
			    'source':'Hansen et al.'
			  },
			  {
			    'name':'Elephant Range 2007',
			    'image':'maplayer.png',
			    'type':'geojson',
			    'subgiturl':'master/geodata/iucn/iucn_elephant_range_2007.geojson',
			    'tags':'',
			    'source':'IUCN'
			  },
			  {
			    'name':'Elephant Range 2012',
			    'image':'maplayer.png',
			    'type':'geojson',
			    'subgiturl':'master/geodata/iucn/iucn_elephant_range_2012.geojson',
			    'tags':'',
			    'source':'IUCN'
			  },
			  {
			    'name':'Permanent Wetlands',
			    'image':'maplayer.png',
			    'type':'topojson',
			    'subgiturl':'master/geodata/nasa/ssudan_modis_wetlands_2012.topojson',
			    'tags':'',
			    'source':'NASA'
			  },
			  {
			    'name':'Disputed Areas',
			    'image':'maplayer.png',
			    'type':'geojson',
			    'subgiturl':'master/geodata/natural_earth/ne_disputed_areas.geojson',
			    'tags':'',
			    'source':'Natural Earth'
			  },
			  {
			    'name':'Populated Places',
			    'image':'maplayer.png',
			    'type':'geojson',
			    'subgiturl':'master/geodata/natural_earth/ne_populated_places.geojson',
			    'tags':'',
			    'source':'Natural Earth'
			  },
			  {
			    'name':'National Border',
			    'image':'maplayer.png',
			    'type':'geojson',
			    'subgiturl':'master/geodata/natural_earth/south_sudan_ne.geojson',
			    'tags':'',
			    'source':'Natural Earth'
			  },
			  {
			    'name':'Travel Time to Cities',
			    'image':'maplayer.png',
			    'type':'geojson',
			    'subgiturl':'master/geodata/nelson/ssudan_travel_time_to_city.geojson',
			    'tags':'',
			    'source':'Nelson et al.'
			  },
			  {
			    'name':'Airfields',
			    'image':'maplayer.png',
			    'type':'geojson',
			    'subgiturl':'master/geodata/unitar/undp_airfields.geojson',
			    'tags':'',
			    'source':'UNITAR'
			  },
			  {
			    'name':'Roads',
			    'image':'maplayer.png',
			    'type':'geojson',
			    'subgiturl':'master/geodata/unitar/undp_roads.geojson',
			    'tags':'',
			    'source':'UNITAR'
			  },
			  {
			    'name':'Counties',
			    'image':'maplayer.png',
			    'type':'geojson',
			    'subgiturl':'master/geodata/unitar/undp_ss_county.geojson',
			    'tags':'',
			    'source':'UNITAR'
			  },
			  {
			    'name':'States',
			    'image':'maplayer.png',
			    'type':'geojson',
			    'subgiturl':'master/geodata/unitar/undp_states.geojson',
			    'tags':'',
			    'source':'UNITAR'
			  },
			  {
			    'name':'Polling Stations',
			    'image':'maplayer.png',
			    'type':'geojson',
			    'subgiturl':'master/geodata/unitar/unitar_pollingstations.geojson',
			    'tags':'',
			    'source':'UNITAR'
			  },
			  {
			    'name':'Settlements',
			    'image':'maplayer.png',
			    'type':'geojson',
			    'subgiturl':'master/geodata/unitar/unitar_settlements.geojson',
			    'tags':'',
			    'source':'UNITAR'
			  },
			  {
			    'name':'Geologic Provinces',
			    'image':'maplayer.png',
			    'type':'geojson',
			    'subgiturl':'master/geodata/usgs/ssudan_geologic_provinces.geojson',
			    'tags':'',
			    'source':'USGS'
			  },
			  {
			    'name':'Surficial Geology',
			    'image':'maplayer.png',
			    'type':'geojson',
			    'subgiturl':'master/geodata/usgs/ssudan_surficial_geology.geojson',
			    'tags':'',
			    'source':'USGS'
			  },
			  {
			    'name':'Protected Areas',
			    'image':'maplayer.png',
			    'type':'geojson',
			    'subgiturl':'master/geodata/wdpa/wdpa_ssudan.geojson',
			    'tags':'',
			    'source':'WDPA'
			  },
			  {
			    'name':'Roads',
			    'image':'maplayer.png',
			    'type':'geojson',
			    'subgiturl':'master/geodata/osm/highway_line.geojson',
			    'tags':'',
			    'source':'OpenStreetmap'
			  },
			  {
			    'name':'National Border',
			    'image':'maplayer.png',
			    'type':'geojson',
			    'subgiturl':'master/geodata/osm/south_sudan_osm.geojson',
			    'tags':'',
			    'source':'OpenStreetmap'
			  },
			  {
			    'name':'National Region of Interest',
			    'image':'maplayer.png',
			    'type':'geojson',
			    'subgiturl':'master/geodata/osm/south_sudan_osm_roi20km.geojson',
			    'tags':'',
			    'source':'OpenStreetmap'
			  },
			  {
			    'name':'Airstrip - Line',
			    'image':'maplayer.png',
			    'type':'geojson',
			    'subgiturl':'master/geodata/osm/ss_aeroway_line.geojson',
			    'tags':'',
			    'source':'OpenStreetmap'
			  },
			  {
			    'name':'Airstrip - Point',
			    'image':'maplayer.png',
			    'type':'geojson',
			    'subgiturl':'master/geodata/osm/ss_aeroway_point.geojson',
			    'tags':'',
			    'source':'OpenStreetmap'
			  },
			  {
			    'name':'Airstrip - Polygon',
			    'image':'maplayer.png',
			    'type':'geojson',
			    'subgiturl':'master/geodata/osm/ss_aeroway_polygon.geojson',
			    'tags':'',
			    'source':'OpenStreetmap'
			  },
			  {
			    'name':'Amenity - Point',
			    'image':'maplayer.png',
			    'type':'geojson',
			    'subgiturl':'master/geodata/osm/ss_amenity_point.geojson',
			    'tags':'',
			    'source':'OpenStreetmap'
			  },
			  {
			    'name':'Amenity - Polygon',
			    'image':'maplayer.png',
			    'type':'geojson',
			    'subgiturl':'master/geodata/osm/ss_amenity_polygon.geojson',
			    'tags':'',
			    'source':'OpenStreetmap'
			  },
			  {
			    'name':'Barrier - Line',
			    'image':'maplayer.png',
			    'type':'geojson',
			    'subgiturl':'master/geodata/osm/ss_barrier_line.geojson',
			    'tags':'',
			    'source':'OpenStreetmap'
			  },
			  {
			    'name':'Barrier - Point',
			    'image':'maplayer.png',
			    'type':'geojson',
			    'subgiturl':'master/geodata/osm/ss_barrier_point.geojson',
			    'tags':'',
			    'source':'OpenStreetmap'
			  },
			  {
			    'name':'Barrier - Polygon',
			    'image':'maplayer.png',
			    'type':'geojson',
			    'subgiturl':'master/geodata/osm/ss_barrier_polygon.geojson',
			    'tags':'',
			    'source':'OpenStreetmap'
			  },
			  {
			    'name':'Political Boundaries',
			    'image':'maplayer.png',
			    'type':'geojson',
			    'subgiturl':'master/geodata/osm/ss_boundary_polygon.geojson',
			    'tags':'',
			    'source':'OpenStreetmap'
			  },
			  {
			    'name':'Conservation Areas',
			    'image':'maplayer.png',
			    'type':'geojson',
			    'subgiturl':'master/geodata/osm/ss_conservation_areas.geojson',
			    'tags':'',
			    'source':'OpenStreetmap'
			  },
			  {
			    'name':'Historic Sites',
			    'image':'maplayer.png',
			    'type':'geojson',
			    'subgiturl':'master/geodata/osm/ss_historic_point.geojson',
			    'tags':'',
			    'source':'OpenStreetmap'
			  },
			  {
			    'name':'Land Use',
			    'image':'maplayer.png',
			    'type':'geojson',
			    'subgiturl':'master/geodata/osm/ss_landuse_polygon.geojson',
			    'tags':'',
			    'source':'OpenStreetmap'
			  },
			  {
			    'name':'Natural Features',
			    'image':'maplayer.png',
			    'type':'geojson',
			    'subgiturl':'master/geodata/osm/ss_natural_polygon.geojson',
			    'tags':'',
			    'source':'OpenStreetmap'
			  },
			  {
			    'name':'Places of Interest',
			    'image':'maplayer.png',
			    'type':'geojson',
			    'subgiturl':'master/geodata/osm/ss_place_point.geojson',
			    'tags':'',
			    'source':'OpenStreetmap'
			  },
			  {
			    'name':'Railway',
			    'image':'maplayer.png',
			    'type':'geojson',
			    'subgiturl':'master/geodata/osm/ss_railway_line.geojson',
			    'tags':'',
			    'source':'OpenStreetmap'
			  },
			  {
			    'name':'Routes',
			    'image':'maplayer.png',
			    'type':'geojson',
			    'subgiturl':'master/geodata/osm/ss_route_line.geojson',
			    'tags':'',
			    'source':'OpenStreetmap'
			  },
			  {
			    'name':'Sport Facilities',
			    'image':'maplayer.png',
			    'type':'geojson',
			    'subgiturl':'master/geodata/osm/ss_sport_point.geojson',
			    'tags':'',
			    'source':'OpenStreetmap'
			  },
			  {
			    'name':'Tourist Sites',
			    'image':'maplayer.png',
			    'type':'geojson',
			    'subgiturl':'master/geodata/osm/ss_tourism_point.geojson',
			    'tags':'',
			    'source':'OpenStreetmap'
			  },
			  {
			    'name':'Waterways',
			    'image':'maplayer.png',
			    'type':'geojson',
			    'subgiturl':'master/geodata/osm/ss_waterway_line.geojson',
			    'tags':'',
			    'source':'OpenStreetmap'
			  }
			]">
      </div>

      <div class="row mt">
      	<div class="col-lg-8">
	        <h1>Explore the Data</h1>
	        <p>Browse and access the datasets that were used in the 2014 South Sudan Tropical Forests And Biodiversity Threats And Opportunities Assessment</p>
      	</div>
      	<div class="col-lg-4">
      		<p class="pull-right"><br><input ng-model="searchText" class="form-control input-lg" type="text" placeholder="Search"></p>
      	</div>
      </div><!-- /row -->
    </div><!-- /.container -->

    


    <!-- PORTFOLIO SECTION -->
    <div id="portfolio">
			
		
    	<div class="container">
	    	<div class="row mt" id="searchTextResults">
				<ul class="grid effect-2" id="grid">
					<li ng-repeat="record in dataz | filter:searchText"><h2>{{record.name}} - {{record.source}}</h2><a href="{{record.subgiturl}}"><img src="images/{{record.image}}"></a></li>
				</ul>
	    	</div>
	    </div>
    </div>
	
	
	<!-- CLIENTS LOGOS -->
	<div id="lg">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-8 col-lg-offset-2 inline">
					<h2>A <img src="assets/img/clients/usaid.png" width="270px" alt=""> Project </h2>
				</div>
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- dg -->
	
	
	<!-- CALL TO ACTION -->
	<div id="call">
		<div class="container">
			<div class="row">
				<h3>Contribute and Collaborate</h3>
				<div class="col-lg-8 col-lg-offset-2">
					<p>If you've found useful information here, consider contributing additional datasets or edits to these.</p>
					<p><a href="https://github.com/GeoSprocket/ssudan-eco" target="_blank" ><button type="button" class="btn btn-green btn-lg"><i class="fa fa-github"></i> View the Repository on Github</button></a></p>
				</div>
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- Call to action -->
	
	
	<!-- CONTACT FOOTER -->
	<div id="cf">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 col-lg-offset-1"><hr>
					Prepared by Geosprocket LLC, subcontractor to The Cadmus Group, Inc. under USAID's Global Environmental Management Support Program, Contract Number GS-10F-0105J. The contents are the sole responsibility of the authors and do not necessarily reflect the views of USAID or the United States Government.<hr>
				</div>
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- Contact Footer -->
	

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.3/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/protractor.js"></script>
	<script src="assets/js/masonry.pkgd.min.js"></script>
	<script src="assets/js/imagesloaded.js"></script>
    <script src="assets/js/classie.js"></script>
	<script src="assets/js/AnimOnScroll.js"></script>
	<script>
		new AnimOnScroll( document.getElementById( 'grid' ), {
			minDuration : 0.4,
			maxDuration : 0.7,
			viewportFactor : 0.2
		} );
	</script>
  </body>
</html>
